POSTGRES_DB=trustflow
POSTGRES_USER=trustflow
POSTGRES_PASSWORD=postgres_password

RABBITMQ_DEFAULT_USER=trustflow
RABBITMQ_DEFAULT_PASS=rabbitmq_default_pass

JWT_SECRET=jwt-secret-key-2026-trustflow-willbe
JWT_EXPIRATION=3600
